body {
  background-color: #f0f5f9;
  color: #52616b;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.year {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: smaller;

}

h1 {color: #424852;
    font-family: Georgia, serif;

}
h2 {color: #424852;
  font-family: Georgia, serif;
}


hr {
  border-color: #c9d6df;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}

.new1 {
border-top: 2px solid #424852;
width: 100%;
}
