body {
  margin: 0;
  text-align: center;
  font-family: 'Gentium Basic', serif;
  color: #40514E;

}

table {
  width:60%;
}

p {
  line-height: 1.5;
}

.top-container {
  background-color: #fbf0f0;
  position: relative;
  padding: 100px 100px;
  margin-bottom:20px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #fbf0f0;
  padding-bottom: 20px;
}

.copyright {
  font-size: smaller;
}

.top-row {
  width: 50%;
  margin:auto;
}

.skill-row {
width: 50%;
margin: 100px auto;
text-align: left;
}

.referens {
  margin: 100px auto 200px auto;
}

.contact-me {
width: 50%;
margin: 100px auto 50px auto;

}

.education {
width: 10%;
float: left;
margin-right: 30px;
}

.contact {
width: 10%;
margin:0;

}

.jobs {
width: 10%;
float: right;
margin-left: 30px;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #7c7575;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #7c7575;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.subtitle {
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #b8b0b0;
}

table {
  text-align: left;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.middle-cloud {
  position: absolute;
  bottom: 150px;
  right: 175px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 50px;
}

hr {
  border-color: #dfd3d3;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}

a {
  color: #b8b0b0;
}

/*Länkar*/
a:link {
  color: #424852;
  text-decoration: none;

}

a:visited {
  color: #424852;
text-decoration: none;
}

a:hover {
  color: #b8b0b0;
  text-decoration: underline;

}
